td{
  background: black;
  height: 300px;
  width:150px;
  border: 6px solid white;
}

h1{
  text-align: center;
  font-family: 'Barrio', cursive;
}

#one{
  background:  #247BA0;

}
#two{
  background:  #70C1B3;
}
#three{
  background:  #B2DBBF;
}
#four{
  background:  #F3FFBD;
}
#five{
  background:  #FF1654;
}

.art{
  margin: auto;
}
